[submodule "lib/volk"]
	path = lib/volk
	url = git@github.com:zeux/volk.git
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
